* {
    margin:0;
    padding:0;
}

body {
    background-color: white;
    display:flex;
    justify-content:center;
    justify-content:space-evenly;
}

#products {
    width:400px;
    height:250px;
    border:2px solid black;
    margin-bottom:5px;
    border-radius:10px;
   
}

#products img {
    justify-content:center;
    align-items:center;
    width:400px;
    height:215px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}   